#mastil{
     width: 10px;
    height: 150px;
}

#luces{
    width: 100px;
    height: 300px;
    background-color: black;
}
#rojo{
     width: 80px;
    height: 80px;
    background-color: red;
}
#naranja{
     width: 80px;
    height: 80px;
    background-color: orange;
}
#verde{
     width: 80px;
    height: 80px;
    background-color: green;
}
